---
import About from "../components/About.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>About - Evan Cureton</title>
  </head>
  <body>
    <main>
      <About isMini={false} />
    </main>
  </body>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #0a0a0a;
      color: white;
    }

    main {
      min-height: 100vh;
    }
  </style>
</html>
